doctype html
html
    head 
        style 
            include ../static/styles.css
    body
        nav#navbar
            ul 
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Contact]
        section 
            p 
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor sapiente itaque vitae hic! Quae, odit eius. Ex debitis incidunt autem tempora!
                

