//- page-a.pug
extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style 
        include ../static/styles.css

block content
    h1 Welcome to the Home page.
    section.section1
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatibus rem natus.
