html
  head
    title Pug & Mongo
    style 
        include ../static/styles.css
nav.navbar
  ul
    li 
      a(href="/about") About
    li
      a(href="index.pug") Home
    li
      a(href="contact.pug") Contact
    li
      a(href="services.pug") Services

section.section1
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatibus rem natus.